<div>
    <h4>Hey, I've just confirmed your order {{ order._id }} </h4>
    <h4>Dishes</h4>
    <table>
        <tr>
            <td>Name</td>
            <td>Count</td>
            <td>Total</td>
        </tr>
        {{#each order.items}}
            <tr>
                <td>{{name}}</td>
                <td>{{count}}</td>
                <td>{{total}}</td>
            </tr>
        {{/each}}
        <tr>
            <td>Total</td>
            <td>{{order.total}}</td>
        </tr>
    </table>
    <h4>Event summary</h4>
    <table>
        <tr>
            <td>Id</td>
            <td>Count</td>
        </tr>
        {{#each eventSummary.itemsToOrder}}
            <tr>
                <td>{{_id}}</td>
                <td>{{count}}</td>
            </tr>
        {{/each}}
    </table>
</div>